/* Reset base */
body {
  font-family: Garamond, serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #FFFFFF;
  color: #000000;
}

/* Header e navigazione */
header {
  background: #FFFFFF;
  color: black;
  padding: 1em;
  text-align: center;
}

header nav a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

/* Contenuto */
main {
  padding: 10px;
  background: white;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 0 0px rgba(0,0,0,0);
}

/* Footer */
footer {
  background: #FFFFFF;
  color: black;
  text-align: center;
  padding: 10px;
}

.terremosse {
  color: red; /* Colore rosso */
  font-family: 'Garamon(d/t)', serif; /* Font diverso, puoi scegliere quello che vuoi */
}
